<%= form_for(@book, url: admin_salon_salon_reservation_path) do |f| %>
  <div class="field">
    <%= f.label :book_time %>
    <%= f.datetime_select :book_time %>
  </div>

  <div class="field">
    <%= f.submit '登録' %>
  </div>
<% end %>