<div style="width: 15%; height:500px; border: 1px solid;float: left;">
  <%= render 'admin/salons/sidebar' %>
</div>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <h2><%= current_salon.name %>所属スタイリスト</h2>
  <% @stylists.each.with_index(1) do |s, i| %>
    <%= i %>.<%= s.name %>
  <% end %>
</main>