.container{
  margin-top: 50px;
  width: 90%;
}

.landding-page {
  background-image: image_url("beauty-2224742_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  padding-top: 100px;
}