<nav>
  <%= link_to "Home", root_path %>
  <%= link_to 'Users', new_user_session_path %>
  <%= link_to 'Salon', new_salon_session_path %>
  <%= link_to 'Stylist', new_stylist_session_path %>
  <%# if salon_signed_in? || stylist_signed_in? || user_signed_in? %>
    <%#= current_salon.name || current_stylist.name || current_user.name %>
  <%# end %>
</nav>