<div class="landding-page" style="padding-top: 100px">
  <div style="border: 1px solid; width: 40%;margin-left: 5%; padding: 20px;border-radius: 5px; background-color: white;">
    <h2>お気に入りの美容室と、<br/>お気に入りのスタイリストで<br/>最高の時間を</h2>
    <div style="text-align: center;">
      <%= link_to '予約する', reservations_path, class: "btn btn-light btn-lg btn-block" %>
    </div>
  </div>
</div>