<div style="width: 95%; text-align: center; margin-top: 50px;">
  <h2 style="color: gray">渋谷区のサロン</h2>
  <div style="width: 23%; display: inline-block; border: 1px solid gray; height: 300px; border-radius: 5px; margin: auto 0; padding-top: 50px">
    サロン:ハチ公前サロン<br/>
    場所:ハチ公前<br/>
    カット価格:5890円<br/>
  </div>
  <div style="width: 23%; display: inline-block; border: 1px solid gray; height: 300px; border-radius: 5px; margin: auto 0; padding-top: 50px">
    サロン:渋谷駅サロン<br/>
    場所:渋谷駅前<br/>
    カット価格:9890円<br/>
  </div>
  <div style="width: 23%; display: inline-block; border: 1px solid gray; height: 300px; border-radius: 5px; margin: auto 0; padding-top: 50px">
    サロン:道玄坂サロン<br/>
    場所:道玄坂<br/>
    カット価格:8890円<br/>
  </div>
  <div style="width: 23%; display: inline-block; border: 1px solid gray; height: 300px; border-radius: 5px; margin: auto 0; padding-top: 50px">
    サロン:神泉サロン<br/>
    場所:渋谷区神泉<br/>
    カット価格:6890円<br/>
  </div>
</div>